<form class="form-signin">
  <div>
    <h4>Select a File</h4>
    <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" single="">
                    </span>
                </span>
      <input type="text" class="form-control" readonly="">
    </div>
  </div>
  <p></p>
  <select class="custom-select d-block w-100" id="codec" required="">
    <option value="">Choose Codec...</option>
    <option>United States</option>
  </select>
  <p></p>
  <select class="custom-select d-block w-100" id="a" required="">
    <option value="">Choose Parameter...</option>
    <option>United States</option>
  </select>
  <p></p>
  <p></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Covert & Play</button>
  <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
