<form class="form-signin">
  <div>
    <h4>Select a File</h4>
    <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" single="" (change)="browseFile($event)">
                    </span>
                </span>
      <input type="text" class="form-control" readonly="" required="" value="{{selectedFile.name}}">
    </div>
  </div>
  <p></p>
  <select class="custom-select d-block w-100" id="codec" required="">
    <option value="">Choose Codec...</option>
    <option *ngFor="let codec of codecList">{{codec}}</option>
  </select>
  <p></p>
  <select class="custom-select d-block w-100" id="para" required="">
    <option value="">Choose Parameter...</option>
    <option *ngFor="let para of paraList">{{para}}</option>
  </select>
  <p></p>
  <select class="custom-select d-block w-100" id="Container" required="">
    <option value="">Choose Container...</option>
    <option *ngFor="let container of containerList">{{container}}</option>
  </select>
  <p></p>
  <p></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Covert & Play</button>
  <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
