<form class="form-signin">
  <div>
    <h4>Select a File</h4>
    <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" single="" (change)="browseFile($event)">
                    </span>
                </span>
      <input type="text" class="form-control" readonly="" required="" value="{{fileName}}">
    </div>
  </div>
  <p></p>
  <select class="custom-select d-block w-100" id="codecSelect" required="" (change)="codecChange($event)">
    <option value="">Choose Codec...</option>
    <option *ngFor="let codec of codecList" [ngValue]="codec">{{codec}}</option>
  </select>
  <p></p>
  <select class="custom-select d-block w-100" id="para" required="" (change)="paraChange($event)">
    <option value="">Choose Parameter...</option>
    <option *ngFor="let para of paraList" [ngValue]="para">{{para}}</option>
  </select>
  <p></p>
  <select class="custom-select d-block w-100" id="Container" required="" (change)="containerChange($event)">
    <option value="">Choose Container...</option>
    <option *ngFor="let container of containerList">{{container}}</option>
  </select>
  <p></p>
  <p></p>
  <button type="button" class="btn btn-lg btn-primary btn-block" (click)="sendToServer()">Play audio!</button>

  <div class="spinner" *ngIf="showLoading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <p></p>
  <p></p>
  <input  #ramSelector name="ram" type="range" id="myRange" value="{{customProgress}}" max="100" class="custom-range" (change)="setRam(ramSelector.value)" *ngIf="showPlayer">
  <h6 *ngIf="showPlayer">{{tip}}</h6>
  <p class="text-danger" *ngIf="showError"><strong>Error Occurred!</strong></p>
  <a href="/Opus.Nuance_Frame">Demo Opus file with Nuance Frame</a>
  <p></p>
  <a href="/Speex.Nuance_Frame">Demo Speex file with Nuance Frame</a>
  <p class="mt-5 mb-3 text-muted">© 2018-2021</p>
</form>
